/* mobile Screen */
@media (min-width: 300px) and (max-width: 480px) {
    
    .up-area {
        height: 85vh; /* Adjust height for mobile devices */
    }

    .nav-bar{
        padding: 15px 15px;
        width: 100%;
    }

    .nav-bar>.left-area>a{
        display: contents;
        font-size: .8rem;
    }

    a{
        display:none;
    }

    .center-area>h1{
        font-size: 3rem;
        margin-top: 40px;
    }

    .center-area>h3{
        font-size:1.3rem;
    }

    .center-area{
        height: 80vh;
    }
    /* Search Area */
    .search-area{
        height: 200px;
        width: 90%;
        background-color: transparent;
        display: block;
    }

    .mobile-Search-box{
        width: 100%;
        background-color: white;
        height: 45px;
        border-radius:10px;
        margin: 0px 0px;
        font-size: 1.2rem;
        margin: 0;
    }

    .Sbox1{
        margin-bottom: 18px;
    }

    .SameSbox{
        padding-left: 45px;
    }

    .location{
        display: inline-block;
        position: absolute;
        left: 28px;
        bottom: 43%;
    }

    .search{
        display: inline-block;
        position: absolute;
        bottom: 30%;
        left: 28px;
    }

}
